@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;500;600&display=swap');s
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(173, 252, 252);
  display: grid;
  display: center;
  place-items: center;
}
form {
  background-color: rgb(200, 195, 201);
  padding: 90px;
  width: 60%;
  margin: 100px auto;
  text-align: center;
  -webkit-box-shadow: 0 40px 6px -6px rgb(247, 125, 125);
  -moz-box-shadow: 0 50px 6px -6px rgb(247, 125, 125);
  box-shadow: 0 10px 6px -6px rgb(247, 125, 125);
}
footer{
  margin: 20px;
  font-size: 20px;
  /* display: top; */
  font-display: inherit;
}
#tempcalc label {
  font-size: 60px;
  /* color: rgb(215, 20, 20); */
}
#temp{
  float:center;
  border: none;
  margin-top: 40px;
  padding: 10px;
  height: 30px;
  width: 100px;
  font-size: 20px;
  margin-top: 30px;
}
#temp_diff{
  padding: 10px;
  float: center;
  height: 40px;
  border: none;
  margin-top:0px;
  font-size: 15px;
  vertical-align:middle;
}
[type="submit"]{
  height:35px;
  margin: 20px;
  width:100px;
  font-size: 15px;
  border: none;
  background-color: black;
  color:white;

}
#resultContainer{
  font-size: 35px;
  background-color: grey;
  color: red;
}